<div class="container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
    <div ng-if="$ctrl.sentence" class="col s12 center-align">
      <!-- <div class="chip overlay-color"><img src="/images/profpic.jpg" alt="Contact Person">Dingus</div> -->
      <div ng-repeat="word in $ctrl.sentence.content" class="chip"><a href="#modal{{word.$$hashKey.split(':')[1]}}" class="white-text">{{word.word}}</a><modal word="word"></modal></div>
    </div>
  </div>


  <div ng-if="$ctrl.sentence.curr_user" class="row">
    <div class="col s10 offset-s1">
      <h5 class="center-align gradient-text-full-teal">It's {{ $ctrl.sentence.curr_user}}'s turn!</h5>
    </div>
  </div>

  <div class="row">
    <p class="col s10 offset-s1">Recent activity</p>
    <div class="col s10 offset-s1 group-box">
      <p> <span class="gradient-text-full">Thomas Sunshine Conchie</span> added the word <span class="gradient-text-full-teal">'Dingus'</span> at 12:43am</p>
    </div>
  </div>

</div>
