<div class="container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
    <div ng-if="$ctrl.sentence" class="col s12 center-align">
      <!-- <div class="chip overlay-color"><img src="/images/profpic.jpg" alt="Contact Person">Dingus</div> -->
      <span ng-repeat="word in $ctrl.sentence.words track by $index">
        <div ng-if="!word.author_fbid && $ctrl.myTurn" ng-click="$ctrl.open($index)" class="chip"><a href="" class="white-text">{{word.text}}</a>
          <modal me="$ctrl.me" sentence="$ctrl.sentence" word="word" index="$index"></modal>
        </div>

        <div ng-if="!word.author_fbid && !$ctrl.myTurn" class="chip"><span class="white-text">{{word.text}}</span>
          <modal me="$ctrl.me" sentence="$ctrl.sentence" word="word" index="$index"></modal>
        </div>

        <div ng-if="word.author_fbid" class="chip overlay-color"><img src="{{$ctrl.getPic(word.author_fbid)}}" alt="Author profile picture"><span class="white-text">{{word.text}}</span>
          <modal me="$ctrl.me" sentence="$ctrl.sentence" word="word" index="$index"></modal>
        </div>

      </span>

    </div>
  </div>


  <div class="row">
    <div class="col s10 offset-s1">

      <h5 ng-if="!$ctrl.completedSentence" class="center-align gradient-text-full-teal">It's {{ $ctrl.sentence.curr_user}}'s turn!</h5>

      <h5 ng-if="$ctrl.completedSentence && !$ctrl.postLink" class="center-align gradient-text-full-teal">The sentence is now complete!</h5>

      <a ng-if="$ctrl.postLink" class="white-text" href="https://www.facebook.com/{{$ctrl.postLink}}"><h5 class="center-align gradient-text-full-teal">Check out <span class="gradient-text-full">{{$ctrl.winner.name}}</span>'s latest insight</h5></a>

    </div>
  </div>

  <div ng-if="$ctrl.completedSentence && !$ctrl.postLink" class="row center-align"><button ng-click="$ctrl.authPublish()" class="btn overlay-color-teal">OK!</button></div>

  <div ng-if="$ctrl.activity_feed" class="row">
    <p class="col s10 offset-s1">Recent activity</p>
    <div class="col s10 offset-s1 group-box">
      <p ng-repeat="activity in $ctrl.activity_feed"> <span class="gradient-text-full">{{activity.user.name}}</span> added the word <span class="gradient-text-full-teal">'{{activity.text}}'</span> at <span am-time-ago="activity.updated_at"></span></p>
    </div>
  </div>

</div>
