<div class="container">
  <h2 class="gradient-text-full section-header center-align">New Group</h1>

  <div class="row">

    <div class="center-align"><a class="btn overlay-color" ng-click="$ctrl.authFriends()" ng-if="!$ctrl.showForm" class="input-field col s12">Allow Dicey to Invite Friends</a></div>

    <form ng-if="$ctrl.showForm" novalidate ng-model="$ctrl.newgroup" name="$ctrl.newGroupForm" ng-submit="$ctrl.createGroup()">

      <label>Group Name:<input ng-class="
        {
            'invalid' : $ctrl.newGroupForm.name.$invalid && $ctrl.newGroupForm.name.$touched,
            'valid' : $ctrl.newGroupForm.name.$valid
        }"
        name="name" ng-model="$ctrl.form.name" minlength="3" maxlength="20" required type="text"></label>
      <span ng-show="$ctrl.newGroupForm.name.$error.required">Group name is required</span>
      <span ng-show="$ctrl.newGroupForm.name.$error.minlength">Group name length (>3) required</span>
      <br>


      <label>Word limit:<input  ng-class="
        {
            'invalid' : $ctrl.newGroupForm.wordLimit.$invalid && $ctrl.newGroupForm.wordLimit.$touched,
            'valid' : $ctrl.newGroupForm.wordLimit.$valid
        }"
        name="wordLimit" ng-model="$ctrl.form.word_limit" min="5" max="30" required type="number"></label>
      <span ng-show="$ctrl.newGroupForm.wordLimit.$error.required">Group word limit is required</span>
      <span ng-show="$ctrl.newGroupForm.wordLimit.$error.min || $ctrl.newGroupForm.wordLimit.$error.max">Group word limit between 5 and 30</span>
      <br>

      <div ng-if="$ctrl.showFriends" style="border: 1px solid black;">
        <div ng-repeat="friend in $ctrl.friendsList">
          <input ngng-model="$ctrl.form.people[friend.fbid]" type="checkbox" class="filled-in overlay-color" id="{{friend.fbid}}">
          <label for="{{friend.fbid}}">{{friend.name}}</label><img src="{{friend.prof_picture}}">
        </div>
      </div>

      <button class="btn overlay-color" type="submit">Create!</button>

    </form>

  </div>
</div>
