<header class="navbar-fixed-top">
  <div class="container">
    <div class="row">

      <div class="col-lg-1 col-md-3 col-sm-3 col-xs-3">
        <a class="light-logo" ui-sref="home"><img src="/images/diceylogoblack_v1.png" alt="" class="img-responsive"></a>
      </div>

      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-6 offset-xs-3">
        <nav role="navigation">
          <ul id="navbar-nav" class="navbar-nav">
            <li><a ui-sref="home">My groups</a></li>
            <li><a ui-sref="new">New group</a></li>
            <li><a ui-sref="about">How to play</a></li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
</header>
<div id="header-relief"></div>
<ui-view></ui-view>
<script>
  $("header.navbar-fixed-top").autoHidingNavbar();
</script>
